@media (max-width: 767px) {
    .top {
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .top__head {
        padding-top: 238px;
        text-align: center;
        font-size: 32px;



    }

    .top__text {
        display: block;
        text-align: center;
        font-size: 14px;


    }

    .button {
        margin-left: 70px;
        margin-right: 70x;
        margin-bottom: 366px;

    }

    .content {
        display: flex;
        flex-direction: column;

        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (max-width: 767px) {.firstGame {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;

    &__img {
        padding-top: 0px;
    }

    &__text {
        &__sizeT {
            display: block;
            text-align: center;
            font-size: 14px;
        }

        &__sizeH {
            text-align: center;
            font-size: 32px;
        }

    }

    &__button {
        margin-bottom: 64px;
        display: block;
        text-align: center;
        &__size{
            border-radius: 30px;
    background: #9C0332;
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
        }
    }


}}
